test/
tests/
coverage/
.nyc_output/
.vscode/
.circleci/
jsdoc/
docs/
build/
jsdoc.json
CONTRIBUTING.md
.editorconfig
.eslintrc
.gitignore
tsconfig.json
commitlint.config.js
.env
.travis.yml
CHANGELOG.md
*.exe
*.obj